---
interface Props {
  title: string;
  description: string;
  path?: string;
}

const { title, description, path = "" } = Astro.props;

const WEBSITE_URL = "https://notlega.github.io";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- title -->
    <title>{title}</title>

    <!-- metatags -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- opengraph / fb -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${WEBSITE_URL}/${path}`} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="" />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={`${WEBSITE_URL}/${path}`} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="" />
  </head>
  <body>
    <slot />
  </body>
  <footer></footer>
</html>
