---
import NavBar from '@/components/header/NavBar';
import Footer from '@/components/footer/Footer';

interface Props {
  title: string;
  description: string;
  path?: string;
}

const { title, description, path = '' } = Astro.props;

const WEBSITE_URL = 'https://notlega.github.io';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- title -->
    <title>{title}</title>

    <!-- metatags -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- opengraph / fb -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${WEBSITE_URL}/${path}`} />
    <meta property="og:site_name" content="Ong Hin Journ's Portfolio" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="" />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={`${WEBSITE_URL}/${path}`} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="" />
  </head>
  <body>
    <NavBar client:load />
    <main class="max-w-4xl mx-auto px-6">
      <slot />
    </main>
  </body>
  <footer>
    <Footer client:load />
  </footer>
</html>
